@import "src/styles/colors";

@mixin shadowConfig() {
  position: absolute;
  box-shadow: 0 -2px 5px $darker-gray;
  height: 0.1px;
}

.configBar {
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 140px solid $white;
}

.contentArea {
  position: absolute;
  top: 0;
  left: 5%;
  height: 90%;
  width: 90%;
  padding: 1rem;
}

.configBarShadowTop {
  @include shadowConfig();
  width: 100%;
}

.configBarShadowLeft {
  @include shadowConfig();
  width: 150px;
  transform: rotateZ(63deg);
  left: -43px;
  top: 75px;
}

.configBarShadowRight {
  @include shadowConfig();
  width: 150px;
  transform: rotateZ(-63deg);
  right: -43px;
  top: 75px;
}

.configBarShadowBottom {
  @include shadowConfig();
  width: 90%;
  bottom: -10px;
  left: 5%;
}

.configBarContainer {
  width: 100%;
  position: absolute;
  top: -140px;
  left: 0;
  visibility: hidden;
  z-index: 0;
  height: 130px;
  transition: top .5s ease-in-out;
}

.containerActive {
  position: relative;
  visibility: visible;
  top: 0;
  transition: top .5s ease-in-out;
}
